@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.headerFixo {
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 75px;
  width: 100%;
  background-color: hsla(0, 0%, 7%, 0.6);
  /* Cor de fundo com opacidade (0.5) */
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  /* Alinha os elementos à direita e à esquerda */
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
}

header a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  overflow-x: auto;
}

.linkSemSublinhado {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 15%;
  font-family: 'Bebas Neue', sans-serif;
  margin-right: 15px;
  font-size: 25px;
  height: 50px;
  color: white;
  background-color: #4b0e0e;
}

.logo {
  margin-top: 8px;
  height: 90%;
  width: 25%;
  margin-left: 2%;
}

.logo img {
  width: 70px;
  height: 80%;
}